body {
	background: url("../img/bg.png");
	font-family: 'Open Sans', sans-serif;
}

/* Base Nav Styleing */
nav li {
	float: left;
	list-style: none;
	margin: 0 20px;
}



/* Link States */
nav a:link,
nav a:visited {
	color: white;
	padding: 20px 20px 20px 60px;
	text-decoration: none;
}

nav a:hover,
nav a:active {
	background: yellow;
}

/* Hover */
#first a:hover {	
	background: url(../img/home.png) no-repeat left center;
}

aside h3 + img {
	border: 4px solid black;
}

/* Helper Classes */
.showgrid {
	background: url("../img/grid-bg.png");
}